---
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";
import { menuLinks } from "@/site-config";

const url = new URL(Astro.request.url);
---

<header id="main-header" class="group relative mb-28 flex items-center sm:ps-[4.5rem]">
	<div class="flex sm:flex-col">
		<a
			href="/"
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				version="1.1"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				aria-hidden="true"
				focusable="false"
				fill="none"
				style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				viewBox="299.5 253.5 600 731.12"
			>
				<title>Logo</title>
				<g
					><path
						style="opacity:0.998"
						fill="#22c7a9"
						d="M 299.5,253.5 C 499.5,253.5 699.5,253.5 899.5,253.5C 899.5,453.833 899.5,654.167 899.5,854.5C 699.5,854.5 499.5,854.5 299.5,854.5C 299.5,654.167 299.5,453.833 299.5,253.5 Z"
					></path></g
				><g
					><path
						style="opacity:1"
						fill="#fefffe"
						d="M 504.5,385.5 C 559.382,385.736 614.215,385.736 669,385.5C 670.158,385.998 670.991,386.831 671.5,388C 674.078,403.49 674.078,418.99 671.5,434.5C 679.5,434.5 687.5,434.5 695.5,434.5C 698.13,450.315 698.13,466.148 695.5,482C 698.153,497.846 698.153,513.679 695.5,529.5C 687.5,529.5 679.5,529.5 671.5,529.5C 674.141,545.83 674.141,562.163 671.5,578.5C 679.5,578.5 687.5,578.5 695.5,578.5C 698.13,594.315 698.13,610.148 695.5,626C 698.153,641.842 698.153,657.675 695.5,673.5C 687.5,673.5 679.5,673.5 671.5,673.5C 674.166,689.504 674.166,705.504 671.5,721.5C 615.5,721.5 559.5,721.5 503.5,721.5C 500.857,705.517 500.857,689.517 503.5,673.5C 500.846,657.665 500.846,641.832 503.5,626C 500.833,610 500.833,594 503.5,578C 500.846,561.835 500.846,545.668 503.5,529.5C 500.845,513.669 500.845,497.836 503.5,482C 500.833,466 500.833,450 503.5,434C 500.519,417.687 500.852,401.521 504.5,385.5 Z"
					></path></g
				><g
					><path
						style="opacity:1"
						fill="#28c7aa"
						d="M 551.5,433.5 C 583.5,433.5 615.5,433.5 647.5,433.5C 644.846,449.658 644.846,465.825 647.5,482C 645.015,498.18 644.848,514.347 647,530.5C 615.333,530.167 583.667,529.833 552,529.5C 554.15,513.694 553.984,497.861 551.5,482C 554.155,465.822 554.155,449.655 551.5,433.5 Z"
					></path></g
				><g
					><path
						style="opacity:1"
						fill="#28c7aa"
						d="M 551.5,577.5 C 583.5,577.5 615.5,577.5 647.5,577.5C 644.846,593.658 644.846,609.825 647.5,626C 645.015,642.18 644.848,658.347 647,674.5C 615.333,674.167 583.667,673.833 552,673.5C 554.15,657.694 553.984,641.861 551.5,626C 554.155,609.822 554.155,593.655 551.5,577.5 Z"
					></path></g
				><g
					><path
						style="opacity:0.494"
						fill="#21c7a8"
						d="M 555.5,935.5 C 563.833,935.5 572.167,935.5 580.5,935.5C 580.5,937.833 580.5,940.167 580.5,942.5C 582.359,942.461 583.692,943.294 584.5,945C 583.167,948 583.167,951 584.5,954C 583.692,955.706 582.359,956.539 580.5,956.5C 580.5,958.833 580.5,961.167 580.5,963.5C 582.359,963.461 583.692,964.294 584.5,966C 583.167,969 583.167,972 584.5,975C 583.692,976.706 582.359,977.539 580.5,977.5C 580.5,979.833 580.5,982.167 580.5,984.5C 572.167,984.5 563.833,984.5 555.5,984.5C 555.933,968.019 555.933,951.685 555.5,935.5 Z M 562.5,943.5 C 566.97,942.514 571.637,942.181 576.5,942.5C 576.5,947.167 576.5,951.833 576.5,956.5C 571.821,956.666 567.155,956.499 562.5,956C 563.276,951.61 563.276,947.444 562.5,943.5 Z M 562.5,964.5 C 566.97,963.514 571.637,963.181 576.5,963.5C 576.5,968.167 576.5,972.833 576.5,977.5C 572.154,977.666 567.821,977.499 563.5,977C 563.202,972.733 562.868,968.566 562.5,964.5 Z"
					></path></g
				><g
					><path
						style="opacity:0.494"
						fill="#21c7a8"
						d="M 616.5,935.5 C 624.507,935.334 632.507,935.5 640.5,936C 641.003,939.217 641.336,942.383 641.5,945.5C 639.386,948.736 638.386,952.403 638.5,956.5C 636.833,956.5 635.167,956.5 633.5,956.5C 633.5,958.833 633.5,961.167 633.5,963.5C 631.833,963.5 630.167,963.5 628.5,963.5C 628.662,965.527 628.495,967.527 628,969.5C 626.491,970.09 624.991,970.756 623.5,971.5C 623.5,973.167 623.5,974.833 623.5,976.5C 629.138,977.33 634.804,977.83 640.5,978C 641.576,979.726 641.743,981.559 641,983.5C 632.919,984.482 624.752,984.816 616.5,984.5C 616.5,979.833 616.5,975.167 616.5,970.5C 617.833,970.5 619.167,970.5 620.5,970.5C 620.5,968.167 620.5,965.833 620.5,963.5C 622.527,963.662 624.527,963.495 626.5,963C 626.153,961.431 625.986,959.598 626,957.5C 627.825,956.897 629.659,956.23 631.5,955.5C 630.516,953.402 630.849,951.402 632.5,949.5C 633.474,947.257 633.808,944.924 633.5,942.5C 627.833,942.5 622.167,942.5 616.5,942.5C 616.5,940.167 616.5,937.833 616.5,935.5 Z"
					></path></g
				></svg
			>
			<span class="text-xl font-bold sm:text-2xl">Benedict Zuze's Blog</span>
		</a>
		<nav
			id="navigation-menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			aria-label="Main menu"
		>
			{
				menuLinks.map((link) => (
					<a
						href={link.path}
						class="px-4 py-4 sm:py-0 sm:hover:underline"
						aria-current={url.pathname === link.path ? "page" : false}
						data-astro-prefetch
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			id="toggle-navigation-menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			type="button"
			aria-label="Open main menu"
			aria-expanded="false"
			aria-haspopup="menu"
		>
			<svg
				id="line-svg"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				aria-hidden="true"
				focusable="false"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"
				></path>
			</svg>
			<svg
				id="cross-svg"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				aria-hidden="true"
				focusable="false"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private mobileButtonEl: HTMLButtonElement;
		private menuOpen: boolean;

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
